body{
    background-color: rgb(217, 228, 216);
    font-family: Arial, Helevetica, sans-serif;
    color:rgb(41, 41, 40);
}

.einleitung{
    background: rgb(238, 238, 240);
    color: rgb(8, 8, 8);
    padding: 20px;
}

.content{
    background-color: white;
    color:rgb(3, 3, 3);
    font-family: Arial, Helevetica, sans-serif;
}



